Resources/images/load.psd
*.psd
Resources/personaje/personaje/plantilla cara.png
Resources/personaje/personaje/plantilla cuerpo.png
Resources/personaje/personaje/plantilla pelo.png
Resources/personaje/personaje/sandman.max